/* Variables */
:root {
  --grey: rgba(128, 128, 128, 0.8);
  --dark-grey: rgba(0, 0, 0, 0.8);
  --white: rgba(255, 255, 255, 1);
  --white-alpha: rgba(255, 255, 255, .2);
  --light-blue: rgb(218, 255, 251);
  --mint: rgb(100, 204, 197);
  --teal: rgb(23, 107, 135);
  --navy: rgb(4, 54, 74);
  --bl-font: rgba(0, 0, 0, 0.9);
  --grey-font: rgba(0, 0, 0, 0.8);
  --wh-font: rgba(255, 255, 255, 1);
  --transition: .3s;
  --box-shadow: 0 0 7px var(--grey);
  --margin: 20px;
  --border-radius: 12px;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', cursive;
}

body {
  background: var(--light-blue);
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
  color: var(--white);
  transition: var(--transition);
}

header.scrolled {
  background: var(--mint) !important;
  color: var(--bl-font) !important;
  backdrop-filter: none;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container #title {
  font-size: 1.5rem;
}

.title-container #nav-menu {
  cursor: pointer;
  font-size: 1.3rem;
  transition: var(--transition);
  display: none;
}

.link-container {
  display: flex;
  flex: 0 0 400px;
  transition: var(--transition);
}

.link-container ul {
  display: flex;
  gap: 20px;
}

.link-container .list-item {
  list-style: none;
  letter-spacing: 1.2px;
  transition: var(--transition);
}

.link-container .list-item:hover {
  color: var(--bl-font);
}

header.scrolled .link-container .list-item:hover {
  color: var(--wh-font);
}

.link-container .list-item a,
section#Home button a {
  text-decoration: none;
  color: inherit;
}

/* Sections */

section {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section#Home {
  background: url(./images/hero-bcg.jpeg) center / cover;
  height: 100svh;
  min-height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  padding: 0 60px;
  gap: 30px;
}

section#Home .section-title {
  font-size: 1.5rem;
}

section#Home p {
  font-size: 1rem;
}

section#Home button {
  background: none;
  color: var(--wh-font);
  padding: 10px 15px;
  border: 2px solid var(--white);
  transition: var(--transition);
  cursor: pointer;
}

section#Home button:hover {
  background: var(--white);
  color: var(--bl-font);
}

section:not(:last-of-type)::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 10%;
  height: .5px;
  background: var(--grey);
  margin: 0 auto;
}

section .section-title {
  text-align: center;
}

/* Scroll button */
#scroll-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: none;
  background: var(--mint);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--wh-font);
  font-size: 1.1rem;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

#scroll-btn.show {
  opacity: 1;
  visibility: visible;
}

#scroll-btn:hover {
  background: var(--white);
  color: var(--mint);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 30px;
  background: var(--mint);
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    z-index: 999;
    padding: 0;
    color: var(--bl-font);
    backdrop-filter: none;
  }
  
  header.expand {
    background: var(--white-alpha);
    backdrop-filter: blur(10px);
  }
  
  .title-container {
    width: calc(100% - 30px * 2);
  }

  header.expand .title-container {
    border-bottom: 1px solid var(--navy);
  }

  .title-container #nav-menu {
    display: block;
  }

  .title-container #nav-menu:active {
    color: var(--wh-font);
  }
  
  .link-container {
    flex: 0 0 auto;
    margin-top: 0px;
    padding: 0 30px;
    transition: var(--transition);
    max-height: 0;
    overflow: hidden;
  }
  
  header.expand .link-container {
    padding: 20px 30px;
    max-height: 999px;
  }
  
  .link-container ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .link-container .list-item {
    display: block;
    margin-inline-start: 0;
    margin: 5px 0;
  }
  
  .link-container .list-item:hover {
    color: var(--wh-font);
  }
  
  .link-container .list-item:last-of-type {
    margin-bottom: 10px;
  }
  
  .link-container .list-item a {
    text-decoration: none;
    color: inherit;
  }
}