/* Variables */
:root {
  --bg: rgb(240, 240, 240);
  --navy-font: rgb(60, 72, 107);
  --bl-font: rgba(0, 0, 0, 0.9);
  --grey-font: rgba(0, 0, 0, 0.8);
  --wh-font: rgba(255, 255, 255, 1);
  --red: rgb(244, 80, 80);
  --grey: rgba(128, 128, 128, 0.5);
  --white: rgba(255, 255, 255, 1);
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inclusive Sans", sans-serif;
}

body {
  background: var(--bg);
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 23px;
}

header #title {
  font-size: 2rem;
  color: var(--navy-font);
}

/* Filter Buttons */

#filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

#filter-container .filter-btn {
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  background: var(--red);
  color: var(--wh-font);
  box-shadow: 0 0 3px var(--grey);
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s;
}

#filter-container .filter-btn:hover {
  background: var(--white);
  color: var(--red);
}

/* Menus */

#menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 20px;
  grid-gap: 20px;
}

/* Menu-Items */
#menu-container .menu-item {
  flex: 0 1 450px;
  height: 180px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.image-container {
  flex: 1;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  flex: 1.1;
  background: var(--white);
  height: 100%;
  border-radius: 7px;
  padding: 15px 20px;
}

.content .name {
  display: inline-block;
  text-align: center;
  color: var(--grey-font);
  text-transform: uppercase;
  font-family: 'Concert One', cursive;
  width: 100%;
}

.content .description {
  flex-basis: 50px;
  font-size: 0.9rem;
  line-height: 1.2;
  color: var(--bl-font);
  background: transparent;
}

.content .price {
  color: var(--red);
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  /* Menus */

  #menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  /* Menu Items */
  #menu-container .menu-item {
    flex-direction: column;
    flex: 0 1 calc(100% - 30px);
    height: 250px;
    gap: 0;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 8px var(--grey);
  }

  .image-container {
    flex: 4;
    width: 100%;
    border-radius: 0;
  }

  .content {
    flex: 1;
    padding: 5px 15px 15px;
    height: auto;
    border-radius: 0;
  }

  .content .description {
    flex-basis: 0;
    font-size: 1rem;
  }

  .content .price {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white);
    background: var(--red);
    padding: 2px 4px;
    border-radius: 0 0 0 7px;
  }
}