/* Variables */
:root {
  --grey: rgba(128, 128, 128, 0.386);
  --dark-grey: rgba(0, 0, 0, 0.8);
  --white: rgba(255, 255, 255, 1);
  --white-alpha: rgba(255, 255, 255, .2);
  --light-blue: rgb(218, 255, 251);
  --mint: rgb(100, 204, 197);
  --teal: rgb(23, 107, 135);
  --navy: rgb(4, 54, 74);
  --bl-font: rgba(0, 0, 0, 0.9);
  --grey-font: rgba(0, 0, 0, 0.8);
  --wh-font: rgba(255, 255, 255, 1);
  --transition: .3s;
  --box-shadow: 0 0 7px var(--grey);
  --margin: 20px;
  --border-radius: 12px;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', cursive;
}

/* Styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  gap: 20px;
}

/* Main Container */

.main-container {
  position: relative;
  width: 300px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
}

/* Slider */
.slider-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider-container .slide {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 0 0 100%;
  z-index: 1;
}

/* Indicators */

#index-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  overflow: hidden;
}

#index-indicators .index {
  flex-shrink: 0;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--white);
  z-index: 2;
  transition: var(--transition);
}

#index-indicators .index.active {
  background: var(--navy);
}

/* Control buttons */
.controls {
  display: flex;
  width: 150px;
  justify-content: space-around;
  align-items: center;
}

.controls button {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--grey);
  transition: var(--transition);
  cursor: pointer;
}

.controls button:hover {
  background: var(--teal);
  color: var(--white);
}

/* Event delegation fix */
button > * {
  pointer-events: none;
}